<nav class="navbar navbar-expand-lg navbar-dark" aria-label="Main navigation">
	<div class="container-fluid">
		<a class="navbar-brand" href="http://cs.utah.edu">
			<img class="button" width="185px" src="{{SITEROOT}}img/ksoclogo_white.png" alt="Kahlert School of Computing logo">
		</a>
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link" href="{{SITEROOT}}">Syllabus</a></li>
				<li class="nav-item"><a class="nav-link" href="{{SITEROOT}}schedule">Schedule</a></li>
				<li class="nav-item"><a class="nav-link" href="{{SITEROOT}}assignments">Assignments</a></li>
				<li class="nav-item"><a class="nav-link" href="{{SITEROOT}}wiki">Wiki</a></li>
				<li class="nav-item"><a class="nav-link" href="{{SITEROOT}}redirect_piazza">Piazza</a></li>
				<li class="nav-item"><a class="nav-link" href="{{SITEROOT}}redirect_canvas">Canvas</a></li>
				<li class="nav-item"><a class="nav-link" href="{{SITEROOT}}redirect_pollev">PollEv</a></li>
				<li class="nav-item"><a class="nav-link" href="{{SITEROOT}}redirect_taqueue">TA&nbsp;Queue</a></li>
			</ul>
		</div>
	</div>
</nav>
